@model Hospital.Models.Paciente



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Paciente</h4>
    <hr/>
    <table class="striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cedula)
                        </th>
                         <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                          <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                         <td>
                            @Html.DisplayFor(model => model.Direccion)
                        </td>
                        
                        
                    </tr>

                </tbody>

            </table>
    
</div>
<div>
    <a asp-action="Index" class="btn waves-effect waves-light" type="submit" name="action">Volver<i class="material-icons left">west</i></a>
    <a asp-action="Edit" asp-route-id="@Model.IdPaciente" class="btn waves-effect  amber lighten-1">Editar<i class="material-icons right">edit</i></a> 
</div>

</body>
</html>
